@tailwind base;
@tailwind components;
@tailwind utilities;

.search-bar {
    display: flex;
    flex-direction: column;
}

.suggestion-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results {
    list-style: none;
    padding: 0;
}